
	<header>
   	<h2>Registrar usuario</h2>
      <span class="byline">Ingresa tus datos de usuario</span> 
	</header>


<%= render partial: "shared/errors", locals: { object: @user } %>

<%= render "form" %>
