<% if object.errors.any? %>
	<div>
		<h3>Hay Errores:</h3>
		<table>
			<% object.errors.full_messages.each do |msg| %>
				<tr>
					<td bgcolor="red"><em><%= msg %></em></td>
				</tr>
			<% end %>
		</table>
	</div>
	<br>
<% end %>