<h1>Agregar Guarderia</h1>

<%= render partial: "shared/errors", locals: { object: @nursery } %>

<%= render "form" %>
<br>
<br>
<br>
<ul>
	<li font-size = "2"><%= link_to "Cancelar", nurseries_index_path %></li>
</ul>
